<h1>Hello this is the homepage</h1>
<%= link_to 'Article Listing', articles_path %> |
<%= link_to 'About Page', about_path %> |
<% if logged_in? %>

<%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
<%= link_to 'Login', login_path %> | 
<%= link_to 'Signup', signup_path %>
<% end %>